 body {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100vh;
      background: black;
    }
.ball{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        top: 0px;
    }
    50% {
        top: 300px;
    }
}  

.spinner{
    width:80px;
    height:80px;
    border: 8px solid #ddd;
    border-radius: 50%;
    border-bottom:8px solid #3498db;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.fade-box {
      width: 150px;
      height: 100px;
      background-color: teal;
      border-radius: 8px;
      animation: fadeInOut 2s infinite ease-in-out;
    }

    @keyframes fadeInOut {
      0%, 100% {
        opacity: 0; 
      }
      50% {
        opacity: 1; 
      }
    }
    .slide-text{
        font-size: 32px;
        font-weight: bold;
        color:#3498db;
        animation: slideIn 2s ease-in;
    }

    @keyframes slideIn {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }
      to {
        transform: translateX(0%);
        opacity: 1;
      }
    }
    .pulse {
      width: 100px;
      height: 100px;
      background-color: #e74c3c;
      border-radius: 50%;
      animation: pulseAnimation 2s infinite ease-in-out;
    }
    @keyframes pulseAnimation {
      0%, 100% {
        transform: scale(0.5);
        
      }
      50% {
        transform: scale(1.5);
        
      }
    }