.image{
    position: absolute;top: -30px;
}
.sign{
    position: absolute;left: 800px;
    top: 200px;
}
.email{
    border: solid;color: gray;
    border-radius: 5px;
    height: 25px;
}
.pass{
    border: solid;color: gray;
    border-radius: 5px;
    height: 25px;
}
.forget{
    position: absolute; left: 205px;
    top: 235px;
    color: rgb(125, 123, 123);
}
.button{
    width: 100%;
    padding: 10px;
    border: solid;
    background-color: #5b3cc4;
    border-radius: 8px;
    color: white;
    font-size: 16px;
}