h1 {
    font-size: 1.8em;
}

li {
    background-color: #5C4614; /* Brown color */
    color: black;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.website{
    border: black solid 1px;
    position: absolute;
    top: 300px;
}
.website2{
    border: black solid 1px;
    position: absolute;
    top: 300px;
    left: 550px;
}
.table{
    border: rgb(59, 53, 53) solid 1px;
    position: absolute;top: 470px;
}
.box{
    width: 200px;
    padding: 10px;
    background-color: rgb(180, 191, 202);
    border: 3px solid blue;
    font-family: sans-serif;
    height: 85px;
    position: absolute;left: 600px;
    position: absolute;top: 500px;
}
.zoro{
    position: absolute;top: 700px;
}
.zoro img{
    position: absolute;top: 50px;
    border-width: 5px;
    border-style: solid;
    background-color: brown;
}
.border{
    width: 400px;
    height: 120px;
    padding: 10px;
    position: absolute;top: 750px;
    position: absolute;left: 700px;
    border-style: solid;
    border-color: rgb(0, 106, 255);
    border-radius: 15px;
}

.db{
    border-left:rgb(7, 93, 169) solid 2px;
    border-top:rgb(7, 93, 169) solid 2px;
}
