body {
  
  margin: 0;
  padding: 0;
  background-image: url('image/wp13989307-zoro-vs-king-desktop-wallpapers.png');
  background-size: 100% 200%;
  background-repeat: no-repeat;
}

.content {
  padding: 100px 50px;
  color: #f4ecec;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

p {
  font-size: 18px;
}
