#Box1{
    width: 50px;
    height: 50px;
    background-color: red;
    transform: rotate(45deg);
    position: absolute;
    top: 50px;
    left: 3px;
}
#img1 {
    position: absolute;
    top: 150px;
    left: 30px;
}
#img1:hover {
    transform: scale(4);
}
#btn1 {
    position: absolute;
    top: 290px;
    left: 30px;
    width: 100px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    color: white;
    transform: skewX(20deg);
}
#btn2 {
    position: absolute;
    top: 360px;
    left: 30px;
    width: 100px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    color: white;
    transform: skewY(10deg);
}
#Box2{
    width: 50px;
    height: 50px;
    position: absolute;
    top:10;
    left: 50px;
    background-color: blue;
    transform: translate(100px, 100px);
}
#Box3{
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 450px; 
    left: 30px;
}
#Box3:hover{
    transform: rotateX(180deg);
    transition: transform 0.5s;
}
#btn3{
    position: absolute;
    top: 600px;
    left: 30px;
    width: 100px;
    height: 50px;
}
#btn3{
    transition: background-color 0.5s ease;
}
#btn3:hover{
background-color: brown;
}
#Box4{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 750px;
    left: 30px;
    background-color: yellow;
}
#Box4:hover{
    transform:scale(4);
    transition: transform 0.5s;
}
#Box5{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 850px;
    left: 30px;
    border: solid 1px black;
    transition: border 0.5s ease;
}
#Box5:hover{
    border: solid 10px rgb(255, 0, 0);
}
#Box6{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 950px;
    left: 30px;
    background-color: rgb(1, 44, 1);
    transition: opacity 0.5s ease;
}
#Box6:hover{
    opacity: 0.1;
}
#btn4{
    position: absolute;
    top: 1150px;
    left: 30px;
    width: 100px;
    height: 50px;
    transition: button 0.5s ease;
}
#btn4:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: large;
}
#ball1{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 1150px;
    left: 300px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    animation: ball1 2s infinite;
}
@keyframes ball1 {
    0%{
        top : 400px;
    }
    50%{
        top : 600px;
    }
    100%{
        top : 400px;
    }
}
#Load{
    position: absolute;
    top: 1300px;
    left: 30px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: Load 2s infinite;
}
@keyframes Load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#box7{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1400px;
    left: 30px;
    background-color: rgb(0, 255, 0);
    animation: box7 2s infinite;
}
@keyframes box7 {
    0% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#p1{
    position: absolute;
    top: 1550px;
    left: 30px;
    width: 200px;
    height: 50px;
    animation: p1 2s infinite;
}
@keyframes p1 {
    0% {
        left :350px;
    }
    100% {
        left :300px;
    }
}
#box8{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1600px;
    left: 30px;
    background-color: rgb(0, 0, 255);
    border-radius: 50%;
    animation: box8 1s infinite;
}
@keyframes box8 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
#img2 {
    position: absolute;
    top: 1800px;
    left: 30px;
    transition: transform 0.1s ease;
}
#img2:hover {
    transform: rotateY(180deg);
}
#btn5 {
    position: absolute;
    top: 150px;
    left: 400px;
    width: 100px;
    height: 50px;
    background-color: rgb(0, 0, 255);
    color: white;
}
#btn5:hover{
        animation: btn5 2s ease;
}
 @keyframes btn5 {
    0% {
    transform: scale(0);   
     }
    25% {
        transform: scale(0.5) ;
    }
    50% {
        transform: scale(1);
    }
    75% {
       transform: scale(0.5);
    }
    100% {
        transform: scale(0);
    }
    
}
