.head{
    background-color: rgb(255, 221, 0);
    width: 5000px;
    height: 100px;
}
.opara{
     background-color: yellow;
    width: 550px;
    height: 140px;
    position: absolute;top: 130px;left: 520px;
}

.pookalam img{
    width: 150px;
    position: absolute;top: 340px;left: 400px;
}
.sadhya img{
    width: 150px;
    position: absolute;top: 390px;left: 650px;
}
.boat img{
    width: 170px;
    position: absolute;top: 360px;left: 900px;
}
.thiru img{
    width: 170px;
    position: absolute;top: 370px;left: 1130px;
}
.making{
  margin-top: 510px;
  margin-left: 10px;
  padding: 12px 600px;
  font-size: 16px;
  background: orange;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, font-size 0.5s;
}
.making:hover {
  background: darkorange;
  font-size: 20px;
  color: white;
}
.trad{
  margin-top: 40px;
  margin-left: 10px;
  padding: 10px 600px;
  font-size: 16px;
  background: orange;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, font-size 0.5s;
}
.trad:hover {
  background: darkorange;
  font-size: 20px;
  color: white;
}
.snake{
  margin-top: 40px;
  margin-left: 10px;
  padding: 12px 650px;
  font-size: 16px;
  background: orange;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, font-size 0.5s;
}
.snake:hover {
  background: darkorange;
  font-size: 20px;
  color: white;
}
.feast{
  margin-top: 40px;
  margin-left: 10px;
  padding: 12px 650px;
  font-size: 16px;
  background: orange;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, font-size 0.5s;
}
.feast:hover {
  background: darkorange;
  font-size: 20px;
  color: white;
}
.input{
    position: absolute;top: 950px;
}
.hh{
    position: absolute;top: 1050px;
    margin-top: 40px;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background: rgb(34, 4, 255);
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, font-size 0.5s;
}
.hh:hover {
  background: rgb(255, 255, 255);
  font-size: 20px;
  color: white;
}

