body{
    height: fit-content     ;
}

#firstbox{
    background: linear-gradient(to right, #FFB200, #FE7142);
    color: white;
    align-items: center;
    text-align: center;
    padding: 30px;
}
#boxhead{
    font-size: 30px;
    font-weight: bold;
    animation: scale 2s infinite ;
}
@keyframes scale{
    0%,100% {word-spacing: normal;}
     50% {word-spacing: 3px; opacity: .8;}
}
#para{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 16px;
    font-weight: bold;
}
#para div:hover{
    color: black;
    transition: .5s;
}
#aboutonam{
    background-color: #FFF3DF;
    width: 750px;
    border-radius: 10px ;
    position: absolute;
    margin-left: 350px;
    border: 3px solid #DCB661;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}
#aboutonam:hover{
    transform: scale(1.1);
    transition: .5s ;
}
#about{
    color: #D03F0F;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    height: 90px;
    position: relative;
    margin-top: 40px;
}

#text{
    position: relative;
    margin-top: -50px;
}
.pookalam{
     background-color: #FFF3DF;
     width:210px;
     height: 200px;
     border-radius: 10px ;
     border: 3px solid #DCB661;
     padding: 5px;
     text-align: center;
     font-weight: bold;
}
.pookalam:hover{
    transform: translateY(-10px);
    transition:.5s;
}
#boxes{
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
    display: flex;
    gap: 20px;
    
}

.image{
   align-items: center;
   border-radius: 5px;

}
.image:hover{
    width: 100px;
    transition: 1s all ease;
    
}
#Activities{
    position: relative;
    margin-top: 440px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list{
    background-color:#FFF3DF ;
    width: 98%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    border-radius: 5px ;
}
.list:hover{
    background-color: #FECC7F;
    transform: scale(1.1);
    transition: .5s ease ;
}
#button{
    background-color: #28A8A8;
    width: 110px;
    height: 35px;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
#button:hover{
    background-color: #512187;
    font-size: 13px;
    transform: scale(1.1);
    transition: .5s;
}
#last{
   background: linear-gradient(to right, #FFB200, #FE7142);
    color: white;
    align-items: center;
    text-align: center;
    padding: 30px;
    height: 30px;
} 
